
@{
    ViewBag.Title = "Index";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <img src="~/Content/images/website-construction-graphic-4.jpg" />
        </div>
    </div>
</div>

