USE [master]
GO
CREATE DATABASE [NDNMailingLIstSearchApp1]
GO
USE [NDNMailingLIstSearchApp1]
GO
USE [NDNMailingLIstSearchApp1]
GO
/****** Object:  Table [dbo].[NDNInterest]    Script Date: 9/11/2019 10:17:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDNInterest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](900) NULL,
	[FromName] [varchar](200) NULL,
	[FromEmail] [varchar](200) NULL,
	[PostedDate] [varchar](200) NULL,
	[MessageText] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[PageURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_NDNInterest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
